<div class="container">
    <p>
        <%= Slang.where(is_approved: false).count %> unapproved slangs
    </p>
    <% @slangs.each do |slang_content| %>
        <%= button_to "Approve", admin_slang_approve_path(slang_content), form_class: 'd-inline', class: 'btn btn-success', method: :patch %>
        <%= button_to "Remove", admin_slang_remove_path(slang_content), form_class: 'd-inline', class: 'btn btn-danger', method: :delete %>
        <%= render '/shared/slang', slang_content: slang_content %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
</div>