<div class="container">
    <% if Current.user && (@user.id == Current.user.id) %>
        <div>
            <%= link_to 'Edit Username', settings_update_path %>
        </div>
        <div>
            <%= link_to 'Edit Password', edit_password_path %>
        </div>
    <% end %>
    <p>
        <%= @slangs.count %> results by <b><%= @user.username %></b>
    </p>
    <% @slangs.each do |slang_content| %>
        <%= render '/shared/slang', slang_content: slang_content %>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
</div>